/* f2ad47 
748E63
177f90
e9ac7f
b6472b
11616d  */
:root {
  --primary-color: #748e63;
  --secondary-color: #b6472b;
  --tertiary-color: #11616d;
  --default-font-family: "Didact Gothic", sans-serif;
  --link-text-font-family: "Roboto", sans-serif;
  --header-footer-font: "Nunito Sans", sans-serif;
}

header {
  text-align: center;
  font-size: 30px;
  font-family: var(--header-footer-font);
  font-weight: 500;
}

header a {
  text-decoration: none;
  color: #000000;
}

h2 {
  color: var(--secondary-color);
  text-transform: uppercase;
}

h3 {
  --link-text-font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
}

.main-page h1 {
  text-align: justify;
  max-width: 34%;
  font-family: var(--default-font-family);
  font-weight: 800;
  margin: 0 auto;
  background: var(--secondary-color);
}

.main-page {
  font-family: var(--default-font-family);
  background: var(--primary-color);
  font-size: 30px;
  font-weight: 400;
  margin: 0 auto;
  text-align: right;
}

.work-paragraph {
  margin: 20px 0;
}

.contact-paragraph {
  padding: 0 0 40px;
}

.intro-link {
  font-weight: 500;
  font-size: 85px;
  font-family: var(--link-text-font-family);
  color: var(--secondary-color);
  text-transform: uppercase;
  position: relative;
  text-align: justify;
}

.work-link {
  top: 55px;
}

.contact-link {
  top: 35px;
}

.content h1 {
  font-family: var(--link-text-font-family);
  color: var(--secondary-color);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 80px;
}

.content {
  background: #f5e7d3;
  font-family: var(--default-font-family);
  font-size: 25px;
  font-weight: 400;
  margin: 0 auto;
  text-align: left;
  padding: 0 0 40px;
}

.certificate-card {
  display: flex;
  margin: 5px;
  height: 120px;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  border-radius: 15px;
}

.certificate-card a {
  color: #f5e7d3;
  text-decoration: none;
  font-size: 23px;
}

.contact-info a {
  text-decoration: none;
  color: var(--tertiary-color);
}

footer {
  border-top: 2px solid var(--tertiary-color);
  padding: 20px 10px 0px;
  font-family: var(--header-footer-font);
  font-size: 18px;
}

footer a {
  color: var(--tertiary-color);
  font-family: var(--header-footer-font);
  font-size: 25px;
}

@media (max-width: 990px) {
  .main-page h1 {
    max-width: 55%;
  }
  .intro-link {
    text-align: center;
  }
  .work-link,
  .contact-link {
    top: 0px;
  }
  .main-page {
    text-align: justify;
  }

  .work-paragraph {
    margin: 0;
  }

  .content h1 {
    font-size: 40px;
  }

  .certificate-card {
    height: 110px;
  }
}

@media (max-width: 539px) {
  .main-page h1 {
    max-width: 75%;
  }
  .intro-link {
    font-size: 40px;
  }
  .work-link,
  .contact-link {
    top: 0px;
  }
  .main-page {
    text-align: justify;
  }

  .work-paragraph {
    margin: 0;
  }

  .content h1 {
    font-size: 30px;
  }
}

/* font-family: 'Didact Gothic', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Roboto', sans-serif;  */
