/* f2ad47 
748E63
177f90
e9ac7f
b6472b
11616d  */
:root {
  --primary-color: #748e63;
  --secondary-color: #b6472b;
  --tertiary-color: #11616d;
  --default-font-family: "Didact Gothic", sans-serif;
  --link-text-font-family: "Roboto", sans-serif;
  --header-footer-font: "Nunito Sans", sans-serif;
}

body {
  background: var(--primary-color);
}

header {
  text-align: center;
  font-size: 30px;
  font-family: var(--header-footer-font);
  font-weight: 500;
}

header a {
  text-decoration: none;
  color: #000000;
}

h1 {
  text-align: justify;
  max-width: 45%;
  font-family: var(--default-font-family);
  font-weight: 800;
  margin: 0 auto;
  background: var(--secondary-color);
}

.main-page {
  font-family: var(--default-font-family);
  font-size: 30px;
  font-weight: 400;
  text-align: justify;
  margin: 0 auto;
}

.intro-link {
  font-weight: 500;
  font-size: 80px;
  font-family: var(--link-text-font-family);
  color: var(--secondary-color);
  text-transform: uppercase;
}

footer a {
  color: var(--tertiary-color);
  font-family: var(--header-footer-font);
  font-size: 25px;
}

@media (max-width: 768) {
  h1 {
    max-width: 85%;
  }
}

/* font-family: 'Didact Gothic', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Roboto', sans-serif;  */
